input {
    width: 80%;
    padding: 0.5rem 0rem;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid #485460;
    color: var(--secondary-font-color);
}

.footer {
    margin-top: 5.5rem;
}

@media screen and (min-height: 700px) {
    .footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}